{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{% static 'website/assets/favicon.ico' %}" type="image/x-icon" />
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    {% block title %}{% endblock %}
    {% block meta %}{% endblock %}
    {% block script %}{% endblock %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'website/styles/main.min.css' %}">
    {% block css %}{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{% static 'website/js/app.min.js' %}"></script>
    {% block js %}{% endblock %}

    <noscript>Please enable JavaScript.</noscript>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>