{% extends 'website/base.html' %}

{% block title %}<title>Manga Nites | Read manga scans online</title>{% endblock %}
{% block meta %}
    <meta name="description"
          content="Read manga scans and scanlations online at Manga Nites. Read Manga Online, Absolutely Free in English"/>
    <meta name="keywords" content="manga,read manga,read manga online,manga online,online manga,manga nites, manga english"/>
{% endblock %}

{% block script %}
    <script>
        var PAGE = 'HOME';
    </script>
{% endblock %}