{% extends "website/base.html" %}

{% block script %}
    <script>
        var PAGE = 'ELSE';
    </script>
{% endblock %}

{#{% block content %}#}
{#    <header class="nav-down">#}
{#        <ul>#}
{#            <li><a class="logo" href="/"><img src="/static/website/assets/logoRed.png" alt="Manga Nites logo"></a></li>#}
{#            <li><a href="' + '/MangaList' + '">Manga List</a></li>#}
{#            <li class="signin"><a href="#">Sign In</a>#}
{#                <a class="signup" href="#1">Sign Up</a></li>#}
{#        </ul>#}
{#    </header>#}
{##}
{#{% endblock %}#}