{% extends "website/base.html" %}
{% load i18n static %}
{% block script %}
    <script>
        var PAGE = 'ELSE';
    </script>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'website/styles/user.css' %}"/> {% endblock %}

{% block title %}<title>{{ title }}</title>{% endblock %}

{% block content %}
    <div id="subs" class="marginToNav">
        <h1>Account Setting</h1>

        <div class="table-responsive-vertical shadow-z-1">
            <div class="table" id="content-main">

                <div class="cng-pass-table">
                    <div id="toggelID">
                        <a href="#" class="toggel account-toggel active-toggel"></a>
                        <a href="/users/subs" class="toggel subs-toggel inactive-toggel toggel-hover"></a>
                        <a href="#logout" title="LOGOUT!" class="toggel logout-toggel"></a>
                    </div>
                    <h2>{{ title }}</h2>

                    <form method="post">{% csrf_token %}
                        <div>
                            {% if form.errors %}
                                <p class="errornote">
                                    {% if form.errors.items|length == 1 %}
                                        {% trans "Please correct the error below." %}{% else %}
                                        {% trans "Please correct the errors below." %}{% endif %}
                                </p>
                            {% endif %}


                            <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

                            <fieldset class="module aligned wide">

                                <div class="form-row">
                                    {{ form.old_password.errors }}
                                    {{ form.old_password.label_tag }} {{ form.old_password }}
                                </div>

                                <div class="form-row">
                                    {{ form.new_password1.errors }}
                                    {{ form.new_password1.label_tag }} {{ form.new_password1 }}
                                    {% if form.new_password1.help_text %}
                                        <p class="help">{{ form.new_password1.help_text|safe }}</p>
                                    {% endif %}
                                </div>

                                <div class="form-row">
                                    {{ form.new_password2.errors }}
                                    {{ form.new_password2.label_tag }} {{ form.new_password2 }}
                                    {% if form.new_password2.help_text %}
                                        <p class="help">{{ form.new_password2.help_text|safe }}</p>
                                    {% endif %}
                                </div>

                            </fieldset>

                            <div class="submit-row">
                                <input type="submit" value="{% trans 'Change my password' %}" class="default"/>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
