{% extends "website/base.html" %}
{% load i18n static %}
{% block script %}
    <script>
        var PAGE = 'ELSE';

        function validated() {
            var oldPass = $('#id_old_password').val();
            var newPass = $('#id_new_password1').val();
            var newPass1 = $('#id_new_password2').val();
            if (oldPass == '') {
                $('#old_er_empty').show();
            } else {
                $('#old_er_empty').hide();
            }

            if (newPass == '') {
                $('#new_er_empty').show();
            } else {
                $('#new_er_empty').hide();
            }
            if (newPass1 == '') {
                $('#new_er1_empty').show();
            }
            else if (newPass != newPass1) {
                $('#new_er1_match').show();
            } else {
                $('#new_er1_empty, #new_er1_match').hide();
            }

            if (oldPass == '' || newPass == '' || newPass1 == '' || newPass != newPass1) {
                $('.errornote').html('Please correct the error below.');
                return false;
            } else {
                $.ajax({
                    url: '/users/update_pass/',
                    type: 'POST',
                    data: {old_pass: oldPass, new_pass: newPass},
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('authorization', 'Token ' + localStorage.getItem('token'));
                    },
                    success: function (result) {
                        showSnackbar('Password Changed');

                        setTimeout(function () {
                            location.reload();
                        }, 2000);

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $('#old_error').html(XMLHttpRequest['responseText']);
                    }
                });
            }


        }

    </script>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'website/styles/user.css' %}"/> {% endblock %}

{% block title %}<title>{{ title }}</title>{% endblock %}

{% block content %}
    <div id="subs" class="marginToNav">
        <h1>Account Setting</h1>

        <div class="table-responsive-vertical shadow-z-1">
            <div class="table" id="content-main">

                <div class="cng-pass-table">
                    <div id="toggelID">
                        <a href="#" class="toggel account-toggel active-toggel"></a>
                        <a href="/users/subs" class="toggel subs-toggel inactive-toggel toggel-hover"></a>
                        <a href="#logout" title="LOGOUT!" class="toggel logout-toggel"></a>
                    </div>
                    <h2>{{ title }}</h2>

                    <div>

                        <p class="errornote">
                        </p>


                        <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

                        <fieldset class="module aligned wide">

                            <div class="form-row">
                                <ul id="old_error" class="errorlist">
                                    <li style="display: none" id="old_er_empty">This field can&#39;t be empty.</li>
                                </ul>
                                <label for="id_old_password">Old password:</label> <input id="id_old_password"
                                                                                          name="old_password"
                                                                                          type="password"/>


                            </div>

                            <div class="form-row">
                                <ul id="new_error" class="errorlist">
                                    <li style="display: none" id="new_er_empty">This field can&#39;t be empty.</li>

                                </ul>
                                <label for="id_new_password1">New password:</label> <input id="id_new_password1"
                                                                                           name="new_password1"
                                                                                           type="password"/>

                                <p class="help">
                                <ul>
                                    <li>Your password can&#39;t be too similar to your other personal information.
                                    </li>
                                    <li>Your password must contain at least 8 characters.</li>
                                    <li>Your password can&#39;t be a commonly used password.</li>
                                    <li>Your password can&#39;t be entirely numeric.</li>
                                </ul>
                                </p>

                            </div>

                            <div class="form-row">
                                <ul id="new_error1" class="errorlist">
                                    <li style="display: none" id="new_er1_empty">This field can&#39;t be empty.</li>
                                    <li style="display: none;" id="new_er1_match">The two password fields didn&#39;t
                                        match.
                                    </li>
                                </ul>
                                <label for="id_new_password2">New password confirmation:</label> <input
                                    id="id_new_password2" name="new_password2" type="password"/>

                            </div>

                        </fieldset>

                        <div class="submit-row">
                            <input type="submit" onclick="validated();" value="{% trans 'Change my password' %}"
                                   class="default"/>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
