{% extends "website/base.html" %}
{% load i18n static %}
{% block script %}
    <script>
        var PAGE = 'ELSE';
    </script>
{% endblock %}

{% block title %}<title>{{ title }}</title>{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'website/styles/user.css' %}"/> {% endblock %}


{% block content %}
    <div id="subs" class="marginToNav">
        <h1>{{ title }}</h1>
        <div class="table-responsive-vertical shadow-z-1">
            <div class="table" id="content-main">
                <div class="cng-pass-table">
                    <p>{% trans 'Your password was changed.' %}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
